*{margin:0px;padding:0px;}
.register-signup-bar ul li{float:left;list-style:none;color:white;padding:0px 10px;}
.register-signup-bar ul li a{vertical-align: middle;}
.register-signup-bar ul{margin-bottom:0px;}


.home-search-box input{
    width:60%;
    height:40px;
    border-top-left-radius:7px;
    border-bottom-left-radius:7px;
    float:left;
    border: 1px solid #f57224;
    background-color: white;
}

.search-button{
    outline: none;
    height:40px;width:50px;
    background-color:blue;
    float:left;
    border-top-right-radius:7px;
    border-bottom-right-radius:7px;
    outline: none;
    background: #f57224;
    background: #f57224;
    text-shadow: none;
    box-shadow: none;
    border:none;
    color:white;
}

.menu-vertical-content ul li{display: none;}
.menu-vertical-content ul li li{display: none;}
.menu-vertical-title {padding:12px 0px;}
.menu-vertical-content ul li {list-style-type: none;padding:5px 11px;}

.content-megamenu ul li{
    margin-top: 0px;margin-bottom: 0px;
    padding:12px 11px;
    list-style-type: none;float:left;
    display: inline-block;
    position: relative
}
.content-megamenu ul li li {display: none;}


.groupmenu {margin-bottom:0px;}
.groupmenu li a {
    text-decoration: none;
    color: rgb(87, 86, 86);
    font-weight: 600;
}
.groupmenu .main-item:hover{
    background-color: #f2f2f2;
    border-color: #282828;
}

.groupmenu li:hover >a{
    color: #fc5252 !important;
    font-weight: 600;

}
.groupmenu-drop{
    top: 40px;left: 0;
    display: block;
    position: absolute;
    background: #fff;
    z-index: 99;
    border: 1px solid #ccc;
    box-shadow: 0 5px 5px rgba(0,0,0,.19);
}

.groupmenu-drop>li.item {
    min-width: 230px;
    position: relative;
    padding: 20px;
}

.groupmenu-drop-content{width:760px;}
.groupmenu-drop-content ul li{padding:6px 0px;}

.slider-bar-and-category-bar{}
.side-category-bar ul li{list-style-type: none;padding: 3px 0px;}
.side-category-bar ul li a{text-decoration: none;color: rgb(87, 86, 86);}
.side-category-bar ul li a:hover{color: #fc5252 !important;}

a{outline: none;}

.product-cart-hover:hover{box-shadow: 0 1px 5px rgba(0, 0, 0, 0.50);color:red;}



.bx-wrapper{margin-bottom: 0px;}


/*=============================responsive menu bar start here================================*/
.sidenav {
    width:240px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1030;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x:hidden;
    padding-top:0px;
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    margin: 6px 0;
    transition: 0.4s;
    background-color:red;
}

#hidebuttonbar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}


#hidebuttonbar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}
/***********************Above Button CSS***********************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}


.panel-title {
    font-size:13px;
}

.panel-title  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color:rgb(87, 86, 86);font-size: 18px;
}

.more-less {
    float: right;
    color:white;
}

.panel-default > .panel-heading  + .panel-collapse > .panel-body {
    border-top-color: red;
    background-color:white;
}

.drop-menu li{
    list-style:none;
    font-size:15px;
    font-weight:600;
    box-shadow: 0px 0px 3px 0px #bfbfbf;
}

.drop-menu li a{
   color:black;
}

.drop-menu{
    margin-left:0px;
    margin-bottom:0px
}

.drop-menu li{
    padding:5px;
}
/*=============================responsive menu bar end here here================================*/




/*================responsie menu bar related work here===================88888888*/
@media only screen and (max-width:1033px)
{
    body .res-top-info{display: none;}  
}

@media only screen and (min-width:1033px)
{
    body .res-top-info-display{display: none;}
}

/*------------------------menu bar related work start here------------------------*/
@media only screen and (max-width:1070px)
{
    body .responsive-menubar{display: block;} 
   z-index:1030;
}
@media only screen and (min-width:1070px)
{
   body .responsive-menubar{display: none;} 
}

@media only screen and (max-width: 1070px)
{
    body .menu-box{display: none;}
}

/*-----------------------menu bar related work end here-------------------------*/





@media only screen and (max-width: 1103px)
{
    body .res-side-category-bar{display: none;}
    body .res-slider{display: none;}
}

@media only screen and (min-width: 1103px)
{
    body .res-slider-display{display: none;}
}

@media only screen and (max-width: 1000px) {
    .res-main-search-cart {
        display: none;
    }
}

@media only screen and (min-width: 1000px) {
    .res-main-search-display {
        display: none;
    }
}